<div>
<%= @game.player1.name %> attacked <%= @game.player2.name %>
</div>
<div>
<%= @game.player1.name %> Hit Points: <%= @game.player1.hp %>
</div>
<div>
<%= @game.player2.name %> Hit Points: <%= @game.player2.hp %>
</div>
